[submodule "saleor"]
	path = saleor
	url = https://github.com/quynt-anrakutei/saleor
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/quynt-anrakutei/saleor-storefront
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/quynt-anrakutei/saleor-dashboard
